<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TodoMVC Test Suite" verbose="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="TodoMVC Tests">
        <classes>
            <class name="com.todomvc.tests.TodoTests"/>
        </classes>
    </test>
</suite>